#  **Gestión de propiedades y reservas de apartamentos en un portafolio**

## **Calendar** 

Muestra la representación detallada de la disponibilidad y el estado de las propiedades (apartamentos) en un determinado período de tiempo. Aquí está una explicación más detallada de cada campo en el bloque "Calendar":

1. __PropertyId (Id de la propiedad)__: Es una identificación única asociada a cada propiedad, que probablemente se refiere a un apartamento específico dentro del portafolio.

2. __CalendarDate (Fecha en el calendario)__: Representa una fecha específica entre el 01/07/2022 y el 31/12/2022.

3. __Blocked (Estado)__:
    * 0 (No reservado): Indica que el apartamento estaba disponible en esa fecha.
    * 1 (Bloqueado): Significa que el apartamento estaba cerrado y no estaba disponible para reservar en esa fecha.
    * 2 (Reservado): Indica que el apartamento estaba ocupado por clientes en esa fecha.

4. __Property_BookingId (Id de reserva de la propiedad)__: Este campo solo está presente si el estado (Blocked) es igual a 2, lo que significa que la propiedad estaba reservada en esa fecha. En este caso, el __Property_BookingId__ sería el identificador único asociado a esa reserva específica.

## **Propiedades (Properties)**
Proporciona información estática sobre las propiedades del portafolio, como su identificación única y la capacidad de personas que pueden alojarse en cada apartamento.

1. __PropertyId (Id de la propiedad)__: Es una identificación única asociada a cada propiedad (apartamento) en el portafolio.

2. __PR_Sleeps (Capacidad para dormir)__: Indica la capacidad del apartamento en personas, es decir, cuántas personas pueden dormir en ese apartamento.

## **Reservas (Bookings)**
Proporciona información detallada sobre las reservas realizadas, incluyendo el costo total, duración, fecha de creación y el canal a través del cual se realizó la reserva.

1. __Property_BookingId (Id de reserva de la propiedad)__: Identificación única asociada a una reserva específica.

2. __PB_TotalPrice (Precio total de la reserva)__: Representa el costo total de la reserva.

3. __PB_NumNights (Número de noches de la reserva)__: Indica cuántas noches está programada la reserva.

4. __PB_BookingCreatedDate (Fecha de creación de la reserva)__: Muestra la fecha en que se creó la reserva.

5. __PB_BookingChannelOriginId (Id del canal de origen de la reserva)__: Identificación del canal a través del cual se realizó la reserva.

In [7]:
# librerias
import pandas as pd

In [15]:
# Especifica la ruta del archivo Excel
archivo_excel = 'data/Data analysis test.xlsx'

# Carga el archivo Excel en un DataFrame de pandas
calendar    = pd.read_excel(archivo_excel, sheet_name= 'Calendar')
Properties  = pd.read_excel(archivo_excel, sheet_name= 'Properties')
Bookings    = pd.read_excel(archivo_excel, sheet_name= 'Bookings')

In [18]:
calendar

       PropertyId CalendarDate  Blocked  Property_BookingId
0           42997   2022-07-01        2            103656.0
1           42997   2022-07-02        2            103656.0
2           42997   2022-07-03        0                 NaN
3           42997   2022-07-04        2            102879.0
4           42997   2022-07-05        2            102879.0
...           ...          ...      ...                 ...
38888       43350   2022-12-27        0                 NaN
38889       43350   2022-12-28        0                 NaN
38890       43350   2022-12-29        0                 NaN
38891       43350   2022-12-30        0                 NaN
38892       43350   2022-12-31        0                 NaN

[38893 rows x 4 columns]

In [17]:
Properties

     PropertyId  PR_Sleeps
0         42997          4
1         42998          4
2         43025          4
3         43119          4
4         43120          4
..          ...        ...
318       43497          5
319       43263          7
320       43264          6
321       43350          5
322       43392          5

[323 rows x 2 columns]

In [19]:
Bookings

,Property_BookingId,PB_TotalPrice,PB_NumNights,PB_BookingCreatedDate,PB_BookingChannelOriginId
0,103656,492.71,2,2022-06-28 20:10:07,7
1,102879,2130.51,11,2022-06-13 14:27:03,7
2,104627,348.10,2,2022-07-13 18:44:25,1
3,104725,659.71,4,2022-07-15 09:59:53,7
4,103466,618.51,3,2022-06-25 15:43:49,7
...,...,...,...,...,...
6155,111975,511.53,4,2022-12-25 10:34:16,7
6156,111685,1195.68,4,2022-12-17 13:06:45,7
6157,111686,706.32,2,2022-12-17 13:10:53,7
6158,108525,2622.54,37,2022-09-27 11:58:56,7
6159,109681,2754.53,33,2022-10-23 10:19:04,7